table {
	border: solid black 1px;
	text-align: center;
}

th {
	border: solid black 1px;
	padding: .5em;
}

td {
	border: solid black 1px;
	padding: .5em;
}

.addAttempt {
	border: none;
}

.addStatsForm {
	border: none;
	padding: .5em .2em 0 .2em;
}